@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-gradient {
  background: linear-gradient(
    45deg,
    #111827,
    #1e40af,
    #ff0000,
    #1557c1,
    #68154f
  );
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
